<div class="SignOut text-center ">
  <%= link_to 'Sign Out' , destroy_user_session_path, method: :delete ,class:"btn btn-danger  font-weight-bold  btn-lg" %>
</div>

    <% if current_user.user_type == 'manager' %>
      <div class="text-center NewProject "> <%= link_to 'New Project', new_project_path ,class:"btn btn-lg btn-secondary my-5"   %></div>
    <%end%>

  <div class="ProjectIndex text-center" >
    
    <h1 class="text-center my-5">Projects</h1>

      <table class="text-center table table-bordered  projectTable">
        <thead>
          <tr >
            <th>Project ID</th>
            <th>Name of Project</th>
            <th>Details of Project</th>

            <% if current_user.user_type == 'manager' %>
              <th>Edit Project</th>
              <th>Delete Project</th>
              <th>Add/Remove Develeoper/Qa</th>
            <%elsif current_user.user_type == 'developer' %>
              <th>Bugs Associated</th>
            <%elsif current_user.user_type == 'qa' %>
              <th>Bugs Associated</th>
              <th>Report New Bugs</th>
            <%end%>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
            <tr >
              <td ><%= project.id %></td>
              <td ><%= project.name %></td>
              <td ><%= link_to 'Show', project,class:"btn btn-lg btn-primary my-5" %></td>

              <div id="Project-<%= project.id%>">
                <%= index_page_links(project) %> 
              </div>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>


