<div class="mx-5 my-5">

  <h1>Bugs</h1>

  <table class="text-center table table-bordered BugsTable" >
    <thead>
      <tr>
        <th>Title</th>
        <th>Deadline</th>
        <th>Type of bug</th>
      </tr>
    </thead>

    <tbody>
      <% @bugs.each do |bug| %>
        <tr class="my-5">
          <td><%= bug.title %></td>
          <td><%= bug.deadline %></td>
          <td><%= bug.type_of_bug %></td>
          
          <td><%= link_to 'Show', bug %></td>
          <td><%= render 'index_links', bug: bug %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <td><%= report_another_bug %> </td> 
  <%= link_to 'Back', projects_path %>

</div>