<p>
  <strong>ID:</strong>
  <%= @bug.id %>
</p>
<p>
  <strong>Title:</strong>
  <%= @bug.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @bug.deadline %>
</p>

<p>
  <strong>Type of bug:</strong>
  <%= @bug.type_of_bug %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bug.status %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @bug.creator_id %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @bug.developer_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @bug.project_id %>
</p>

<p>
  <strong>ScreenShot:</strong>
  <%= image_tag(@bug.screenshot, class: 'rounded-circle', size:'50x50') if @bug.screenshot.attached? %>
</p>
<% if current_user.user_type == 'qa' %>
<%= link_to 'Edit', edit_bug_path(@bug) %> | 
<% end %>
<%= link_to 'Back', project_bugs_path(@bug.project_id) %>
